<div>
    <form id="searchForm" class="mb-3">
        <input type="text" id="keyword" class="form-control" placeholder="Cari berdasarkan nama atau nim">
        <button type="submit" class="btn btn-primary">Cari</button>
    </form>

    <table class="table" id="mahasiswa-list">
        <!-- Mahasiswa list will be loaded here -->
    </table>

    <ul class="pagination" id="pagination">
        <!-- Pagination will be loaded here -->
    </ul>

    <button class="btn btn-primary tambah-btn">Tambah Data</button>
</div>
